#wrapper{
    margin-right: auto;
    margin-left:  auto;
  
    max-width: 960px; 
  
    padding-right: 10px; 
    padding-left:  10px; 
}
#Grid{
    font-size: 200px;
    text-align: center;
    background-color: brown;
}
button{
   font-size: 100px;
}